* {
    box-sizing: border-box;
}

#nav-list > li {
    text-align: center;
}

div section {
    margin: 10px;
    padding: 10px;
}
#section-1{
    background-color: #B3E5FF;
}

#section-2 {
    background-color: #FFC7B3;
}

#section-3 {
    background-color: #C3FF80;
}

#text > h3 {
    margin-bottom: 15px;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
}